@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .contenedor {
    display: flex;
    justify-content: space-between;
  }
}

body {
    background-color: #0075C9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(polnac-icon.jpg);
  background-size: cover;
  background-position: center;
}

.title {
    color: White;
    font-family: calibri;
    height: 3vh;
}

.line {
    height: vh;
    width: 70%;
    position: relative;
    transform: translateY(-25px)
}


.subtitle {
    Color: white;
    font-family: calibri;
    font-size: x-large;
    position: relative;
    transform: translateY(-10px);
    height: 3vh;
}

.table {
    font-family: calibri;
    font-size: 20px;
    color: #222222;
    background-color: #ffffff;
    position: relative;
    transform: translateY(-35px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-collapse: separate;
    border-spacing: 10px
}

p {
    text-align: left
}

td, th {
    border-radius: 10px;
    padding: 6px;
    background-color: #efefef;
}

.td1 {
    background-color: #efefef;
    color: #0075C9;
    width: 50px;
    font-size: 35px;
}

.razon-social {
    font-family: calibri;
    font-size: 15px;
    color: #E0E621;
    position: relative;
    transform: translateY(-30px);
}

.button-one {
    font-size: 20px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    transform: translateY(-25px);
}

.slogan {
    font-family: calibri;
    font-size: 12px;
    color: #ffffff;
    position: relative;
    transform: translateY(-15px);
}

.siguenos {
    font-family: calibri;
    color: white;
    position: relative;
    transform: translateY(-20px);
}

.redes{
    color: white;
    display: flex;
    gap: 35px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(-20px);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}
